body
{
    background: #6c9fb3;
    text-align: center;
}

/* ==========HEADER=========*/
#header
{
    margin: auto;
    margin-top: -10px;
    padding: 0;
    width: 900px;
    background: #fff;
}

#logo
{
    margin: 10px 0 0 0;
} 

.language
{
    float: right;
    margin: 10px 5px 0 5px;
}
/* ==========HEADER-END=========*/

/* ==========CONTAINER=========*/
.container
{
    margin: auto;
    margin-top: 0px;
    width: 900px;
    background: #fff;
    overflow: hidden;
    border-radius: 0 0 20px 20px;
}

/* ==========MENU=========*/
#menu
{
    width: 100px;
    margin-left: 50px;
    float: left;
    text-align: left;
}
#menu ul
{
    display: inline;
    list-style-type: none;
}
#menu li
{
    margin-top: 10px;
}
#menu a:hover
{
    text-decoration: underline;
}

#menu a:active
{
    text-decoration: underline;

}

#menu a
{
    color: #000;
    text-decoration: none;
}
#menu .select
{
    text-decoration: underline;
}
/* ==========MENU-END=========*/

/* ==========CONTENT=========*/
#content
{
    width: 750px;
    float: left;	
    margin-top: 10px;
    margin-bottom: 20px;
}

#content table
{
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 0;
    margin-bottom: 30px;
}

#content tr:nth-child(even)
{
    background: #9fc9d9;
}

#content tr:nth-child(odd)
{
    background: #6494a7;
}

#content tr
{
    background: #9fc9d9;
    padding: 0;
}

.header1
{
    font-size: 16px;
    font-style: oblique;
    font-weight: bold;
    margin-bottom: 20px;
}

.admin_section
{
    background: #bd362f;
    padding-left: 5px;
    padding-right: 5px;
}
.btn-group
{
    margin-bottom: 20px;
}
/* ==========MATCHES=========*/

.match_table tr
{
    height: 30px;
}

.match_table td,th
{
    padding-right: 10px;
}

.match_table tr:first-child td:first-child
{
    border-radius: 10px 0 0 0;
}

.match_table tr:last-child td:last-child
{
    border-radius: 0 0 10px 0;
}

.match_table tr:last-child td:first-child
{
    border-radius: 0 0 0 10px;
}

.match_table tr:first-child td:last-child
{
    border-radius: 0 10px 0 0;
}

.match_table td:first-child
{
    padding-left: 5px;
}
/* ==========MATCHES-END=========*/

/* ==========GOALS, PLAYERS, TEAMS=========*/
#goal_table tr, #player_table tr, #team_table tr
{
    height: 30px;
}

#goal_table td,th, #player_table td, th, #team_table td, th
{
    padding-left: 10px;
    padding-right: 10px;
}

#goal_table tr:first-child td:first-child, #player_table tr:first-child td:first-child, #team_table tr:first-child td:first-child
{
    border-radius: 10px 0 0 0;
}

#goal_table tr:first-child td:last-child, #player_table tr:first-child td:last-child, #team_table tr:first-child td:last-child
{
    border-radius: 0 10px 0 0;
}

#goal_table tr:nth-child(2) td:last-child, #player_table tr:nth-child(2) td:last-child, #team_table tr:nth-child(2) td:last-child
{
    border-radius: 0 10px 0 0;
}

#goal_table tr:last-child td:first-child, #player_table tr:last-child td:first-child, #team_table tr:last-child td:first-child
{
    border-radius: 0 0 0 10px;
}

#goal_table tr:last-child td:last-child, #player_table tr:last-child td:last-child, #team_table tr:last-child td:last-child
{
    border-radius: 0 0 10px 0;
}
/* ==========GOALS, PLAYERS, TEAMS-END=========*/

/* ==========GOALS=========*/
/* ==========GOALS-END=========*/

/* ==========PLAYER=========*/
.btn-group > .btn + .dropdown-toggle
{
    height:30px;
}
/* ==========PLAYER-END=========*/

/* ==========TEAMS=========*/

/* ==========TEAMS-END=========*/
/* ==========CONTENT-END=========*/
/* ==========CONTAINER-END=========*/

/* ==========FOOTER=========*/
#footer
{
    margin-top: 10px;
}
/* ==========FOOTER-END=========*/